:global html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.container {
  margin: 30px auto;
}

.grid {
  box-shadow: 0px 23px 54px -10px grey
}

.row {
  line-height: 0;
}
.cell {
  width: 12px;
  height: 12px;
  display: inline-block;
}

.actions {
  display: flex;
  margin-top: 20px;
}

button {
  flex: 1;
  outline: none;
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
  margin: 5px;
  background-color: slategray;
}

button:hover {
  box-shadow: 0px 6px 17px -2px grey;
}
